In [1]:
import pandas as pd
import numpy as np

In [2]:

# Creating Multi Index Objects

In [8]:

val =[(1,"One") , (2,"Two") , (2 , "Twoo")]
ob = pd.MultiIndex.from_tuples(val)
ob.levels

FrozenList([[1, 2], ['One', 'Two', 'Twoo']])

In [29]:

categories = ['Electronics', 'Clothing', 'Toys']
products = ['Laptop', 'Smartphone', 'Shirt', 'Jeans', 'Action Figure', 'Doll']

index = pd.MultiIndex.from_product([categories[:2], products[:3]], names=['Category', 'Product'])

sales_data = [100, 200, 150, 80, 50, 120]

s = pd.Series(sales_data, index=index)
s

Category     Product
Electronics  Laptop        100
             Smartphone    200
             Shirt         150
Clothing     Laptop         80
             Smartphone     50
             Shirt         120
dtype: int64

In [30]:

s[("Electronics" , "Laptop")]

100

In [31]:
s["Electronics"]

Product
Laptop        100
Smartphone    200
Shirt         150
dtype: int64

In [35]:
s.unstack()

Product      Laptop  Shirt  Smartphone
Category
Clothing         80    120          50
Electronics     100    150         200

In [ ]:
# Mulyi Index DataFrame

In [41]:
import pandas as pd

# Data
data = {
    'avg_package': [1, 3, 5, 7, 9, 11, 13, 15],
    'students': [2, 4, 6, 8, 10, 12, 14, 16]
}

# MultiIndex
index = pd.MultiIndex.from_tuples(
    [('cse', 2019), ('cse', 2020), ('cse', 2021), ('cse', 2022),
     ('ece', 2019), ('ece', 2020), ('ece', 2021), ('ece', 2022)],
    names=['Course', 'Year']
)

# Create DataFrame
df = pd.DataFrame(data, index=index)
df.loc["cse"]
df.shape

(8, 2)