In [1]:
import pandas as pd

In [2]:

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
s = df['Name']

In [10]:
s

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [11]:
len(s)

891

In [12]:
#  Chunk of Name PArt

In [13]:
s = df['Name'][0:11]

In [14]:
s

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object

#  Series me /index dikhta h List me nahi

In [16]:
type(s)

pandas.core.series.Series

#   we Want To Give Our Index

In [32]:
List_ = ['a','b','c','d','e','f','g','h','i','j','k']

In [33]:
List_

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [34]:
pd.Series(s,index = List_)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
k    NaN
Name: Name, dtype: object

In [36]:
Immutuable = pd.Series( list( s ) , index = List_)

In [37]:
Immutuable

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
k                      Sandstrom, Miss. Marguerite Rut
dtype: object

In [39]:
s[0]

'Braund, Mr. Owen Harris'

In [43]:
Immutuable['a']

'Braund, Mr. Owen Harris'

In [44]:
Immutuable[0]

'Braund, Mr. Owen Harris'

# Internam Index YAad H  usse

# IT IS IMMUTUABLE

In [50]:
ans = s.append(Immutuable)

/tmp/ipykernel_110/940271844.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ans = s.append(Immutuable)

In [51]:
ans

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
a                               Braund, Mr. Owen Harris
b     Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                Heikkinen, Miss. Laina
d          Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                              Allen, Mr. William Henry
f                                      Moran, Mr. James
g                               McCarthy, Mr. Timothy J
h                        Palsson, Master. Gosta Leonard
i     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                   Nasser, Mrs. Nicholas (Adele Achem)
k                       Sandstrom, Miss. Marguerite Rut
dtype: object

In [52]:
s.append("v")

# Series Se SEries APPend Ho skti h

/tmp/ipykernel_110/1097950487.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s.append("v")

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [53]:
Ans

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
a                               Braund, Mr. Owen Harris
b     Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                Heikkinen, Miss. Laina
d          Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                              Allen, Mr. William Henry
f                                      Moran, Mr. James
g                               McCarthy, Mr. Timothy J
h                        Palsson, Master. Gosta Leonard
i     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                   Nasser, Mrs. Nicholas (Adele Achem)
k                       Sandstrom, Miss. Marguerite Rut
dtype: object

In [54]:
# Take Self Indexes In Genereal

Ans[0]

'Braund, Mr. Owen Harris'

In [57]:
# Creating A sereis To Prove Above Statement

In [58]:
s4 = pd.Series([2,3,4,5 ] , index = [1,3,45,9])

In [65]:
s5 = pd.Series([5,4,3,2] , index = [9,45,3,100])

In [66]:
s6 = s4.append(s5)

/tmp/ipykernel_110/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [74]:
s6[3]

3    3
3    3
dtype: int64

In [78]:
s6

1      2
3      3
45     4
9      5
9      5
45     4
3      3
100    2
dtype: int64

# IN Down Case It WILL Take Default indexs

In [77]:
s6[0:4]

/tmp/ipykernel_110/41819731.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:4]

1     2
3     3
45    4
9     5
dtype: int64

In [79]:
s4

1     2
3     3
45    4
9     5
dtype: int64

In [80]:
s5

9      5
45     4
3      3
100    2
dtype: int64

In [81]:
s4*s5

1       NaN
3       9.0
9      25.0
45     16.0
100     NaN
dtype: float64


# s4*s5 do in named indexs

# agar s4 me 100 hai aur s5 me bhi 100 hia tbhi operation hoga wrnna it will return NAn

In [87]:
s4+s5

9      10
45      8
3       6
100     4
dtype: int64