<h1>Tuples</h1>

In [11]:
t = ()
print(t)

# Imp 
t0 = (2) 
print(t0)

t = (1,2,3)
print(t) 

t1 = (1,2,3,(4,5,6) , "Hello" )
print(t1)

t2 = tuple("Hloeew")
print(t2)

()
2
(1, 2, 3)
(1, 2, 3, (4, 5, 6), 'Hello')
('H', 'l', 'o', 'e', 'e', 'w')

In [28]:

t = (1,2,3,6,4,5,9,30)

print(t[0])
print(t[-1])
print(t[::-1])
print(t[2:6])


t1 = (1,2,3,5,5,(55,556))
print(t1[-1][0])

1
30
(30, 9, 5, 4, 6, 3, 2, 1)
(3, 6, 4, 5)
55

In [30]:

# Crud Operation in Tuples

t = (1,2,3,4,6)

# t[0]=10        # Edit not possible
# t.append(2)    # Apeend not possble
# del t            # Possible to delete whole but not a singile element

In [33]:

# + * 
t = (1,2,3)
t1 = (4,5,6)

print(t+t1)
print(t*3)
print(1 in t)
for i in t:
    print(i)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
1
2
3

In [41]:
# Function

t = (1,2,30,55,5,7,6,0,6,416,41,545,46,546,6544,5)
print(sum(t))
print(len(t))
print(max(t))
print(min(t))
print(t.count(5))
print(t.index(5))

print(sorted(t))
print(sorted(t,reverse=True))

8255
16
6544
0
2
4
[0, 1, 2, 5, 5, 6, 6, 7, 30, 41, 46, 55, 416, 545, 546, 6544]
[6544, 546, 545, 416, 55, 46, 41, 30, 7, 6, 6, 5, 5, 2, 1, 0]

<h1># Sets</h1>

In [53]:


s = set()
print(s)

s = {1,2 , "heilo"}
print(s) 

# s = {1,2,3 , [1,12]}
# print(s) 
# print(s) 

s = {1,True}
print(s)  #bec no duplication

set()
{'heilo', 1, 2}
{1}

In [54]:
s1={1,2,3}
s2 = {1,3,2}
print(s1 == s2 ) # Not in list and tuple

True

In [57]:
# Set dont Contain Indexing Conecpt , neg indexing , slicing 

s.add(5)
print(s) 

s.update([2,4,6])
print(s)

{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}

In [58]:

    del s

In [60]:
s = {1,2,3,4,5,65}
print(s)  
s.discard(3) # item inside ki konsa delete , if no item dont throw error 
print(s) 
s.remove(5)   # item inside ki konsa delete , if no item  throw error
print(s) 
s.pop()      # rand dele item 
print(s) 
s.clear() 
print(s)

{1, 2, 3, 4, 5, 65}
{1, 2, 4, 5, 65}
{1, 2, 4, 65}
{2, 4, 65}
set()

In [ ]:

# functions

In [70]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1 | s2) # Union
print(s1 & s2) # intersection
print(s1 - s2) # difference
print(s1 ^ s2) # symetric Diff
print(1 in s2) # membership op

print(len(s1))
print(max(s1))
print(min(s1))
print(sum(s1))
print(sorted(s1 , reverse=True))

print(s1.union(s2)) 
(s1.update(s2))     #add permanent changes
print(s1 , s2)

print(s1.intersection(s2)) 
(s1.intersection_update(s2))     #add permanent changes
print(s1 , s2)


# isdisjoin , issubset , issuperset


{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
False
4
4
1
10
[4, 3, 2, 1]
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6} {3, 4, 5, 6}
{3, 4, 5, 6}
{3, 4, 5, 6} {3, 4, 5, 6}


<h1>
Dictionary 
</h1>

In [1]:

# Empty 
d = {}
print(d)

d = {"name":"Vinod" , "age":10}
print(d)

d = {
    "name" : "Vinod",
    "age" : 10,
    "sucjects" : {
        "s1"  : " DSA " ,
        "s2" : "OOPS"
    }
}

print(d)

# add new in dict

d["gen"]="Male"
print(d)

{}
{'name': 'Vinod', 'age': 10}
{'name': 'Vinod', 'age': 10, 'sucjects': {'s1': ' DSA ', 's2': 'OOPS'}}
{'name': 'Vinod', 'age': 10, 'sucjects': {'s1': ' DSA ', 's2': 'OOPS'}, 'gen': 'Male'}


Dictionary Comphrensions

In [2]:
{print(i) for i in d }

name
age
sucjects
gen

{None}

In [5]:

# Print first 10 nos and there squares

{ i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [8]:

distance = {"delhi" : 1000 , "mumbai" : 2000 , "uk" : 3000}
print(distance.items())

{key:val*0.22 for (key,val) in distance.items() }

dict_items([('delhi', 1000), ('mumbai', 2000), ('uk', 3000)])

{'delhi': 220.0, 'mumbai': 440.0, 'uk': 660.0}

In [9]:

days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

temperatures = [30, 32, 31, 29, 28, 27, 33]

In [13]:
{key:val for (key,val) in zip(days , temperatures)}

{'Sunday': 30,
 'Monday': 32,
 'Tuesday': 31,
 'Wednesday': 29,
 'Thursday': 28,
 'Friday': 27,
 'Saturday': 33}

In [16]:
products = {"phone":10 , "MAC" : 100 , "iphone":102 , "pc":0}
{key:val for (key,val) in products.items() if val != 0 }

{'phone': 10, 'MAC': 100, 'iphone': 102}

In [19]:
{
    i:{j:i*j for j in range(1,11)} for i in range(2,5)
}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}